<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Microsoft.FamilyShow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Microsoft.FamilyShow.Properties.Settings>
            <setting name="Skin" serializeAs="String">
                <value/>
            </setting>
            <setting name="DontShowOldVersionMessage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
        </Microsoft.FamilyShow.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
